body {
	margin: 0px;
}

#maislinksdiv {
	background-color: white;
	height: 25px;
	width: 100%;
}

#maislinksbtn {
	float: right;
	margin-right: 5px;
	margin-top: 3px;
	user-select: none;
}